<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
    <title>Document</title>
</head>
<body>
    <form method="post" action="/admin/expense/enter/" >
        <input type="text" id="Monthid" name="Monthid" placeholder="Monthid"/>
        <input type="int" id="Electricity" name="Electricity" placeholder="Electricity"/>
        <input type="int" id="Water" name="Water" placeholder="Water"/>
        <input type="int" id="Mess" name="Mess" placeholder="Mess"/>
        <input type="int" id="Rent" name="Rent" placeholder="Rent"/>
        <input type="int" id="CCF" name="CCF" placeholder="CCF"/>
        <br>
        <input class="btn btn-info" type="submit" value="Submit Button"/>
    </form>


</body>
</html>