<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/admin/fee/pay/" >
        <input type="int" id="monthid" name="monthid" placeholder="Month_id"/>
        <input type="text" id="studentid" name="studentid" placeholder="Student_id"/>
        <br>
        <input class="btn btn-info" type="submit" value="Submit Button"/>
    </form>


</body>
</html>