<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
    <title>Document</title>
</head>
<body>
    <form method="post" action="/admin/monthtab/enter/" >
        <input type="text" id="Monthname" name="Monthname" placeholder="Monthname"/>
        <input type="text" id="Duedate" name="Duedate" placeholder="Duedate"/>
        <br>
        <input class="btn btn-info" type="submit" value="Submit Button"/>
    </form>


</body>
</html>