<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 
    <br>
    
    id        username
    <br>
    <% for(var i=0 ; i < ret.length ; i++){ %>
    <form method="post" action="/admin/verify/">
    <input type="text" name="id"id="id" value= <%= ret[i].dataValues.id %> > 
    <input type="text" name="username" id="username" value= <%= ret[i].dataValues.username %> >
        <% if(ret[i].dataValues.verified==false) { %>
    <input class="btn btn-info"type="submit" id="btn1" value="Verify" onclick="msg(btn1)">
    <script>
        function msg(btn1) {
            alert("verified");
            btn1.disabled = true;

        }
        </script>
    <% } else { %>
        <br>
    <% } %>
       
    </form>

    <% } %>


</body>
</html>



