<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
    <title>Document</title>
</head>
<body>
    <h1>Welcome </h1>
    <form method="post" action="/authenticate/signin/logout">
    <input  class="btn btn-info"type="submit" value="Logout">
    </form>
    <br>
    <table style=" border: 1px solid black;">
        <tr>
          <th>Username</th>
          <th>Admno</th>
          <th>Attendance</th>
        </tr>
        <tr>
          <td><%= val.username %></td>
          <td><%= val.lhadmno %></td>
          <td><%= val.attendance %></td>

        </tr>
      </table> 

</body>
</html>